<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :price %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :about %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :img %>
  <%= f.file_field :img , class: 'form-control'%>

  <%= f.label :img_alt %>
  <%= f.file_field :img_alt , class: 'form-control'%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
