<div>
	<%= f.label :color_id %>
	<%= f.text_field :color_id %>
	<%= f.label :article %>
	<%= f.text_field :article %>
	<%= f.label :price %>
	<%= f.text_field :price %>
	<%= f.label :promotional_price %>
	<%= f.text_field :promotional_price %>
	<%= f.label :about %>
	<%= f.text_field :about%>
	<div class="photoss">
		izes
		<div class="product_size">
		<%= f.semantic_fields_for :product_product_sizes do |product_product_size| %>
			<%=render 'product_product_size_fields', f: product_product_size %>
	    <%end%>
		<%= link_to_add_association 'add size', f, :product_product_sizes%>
		</div>
	</div>
	<div class="photoss">
		<div class="photos">
		<%= f.semantic_fields_for :photos do |photo| %>
			<%=render 'photo_fields', f: photo %>
	    <%end%>
		<%= link_to_add_association 'add photos', f, :photos%>
		</div>
	<div class="photoss">
</div>