
<div class="colors">
	<% @colors.each do | color | %>
		<div class="color">
			<p class="id"><%=color.id %></p>
			<p class="name"><%=color.name %></p>
			<p class=""><%=image_tag(color.img(:original))%></p>
			<% if color.main_color%>
				<p class="main"><%=color.main_color.name%></p>
			<% else %>
				<p class="main">No found</p> 
			<% end%>
			<p><%= link_to 'Edit', admin_color_edit_path(color) %></p>
        	<p><%= link_to 'Destroy', admin_color_destroy_path(color) , :method => 'delete', data: { confirm: 'Are you sure?' } %></p>
		</div>
	<% end %>
</div>
