	<main role="main" class="responsive my-hm">
		<div class="wrapper">
			<nav class="breadcrumbs">
				<ul>
					<li>
						<a href="#">Yourhm.com.ua</a>
					</li>

					<li class="">
						<a href="#">Ваша учетная запись</a>
					</li>

					<li class="active">
						<a href="#" onclick="return false;">Профиль</a>
					</li>
				</ul>
			</nav>
			<script type="text/javascript">$("body").addClass("checkout-loader-layer");</script>
			<nav class="section navigation menu " role="navigation">
				<ul role="menu">
					<li class="item" role="presentation" tabindex="0">
						<a href="/my-overview" role="menuitem">Обзор</a>
					</li>
					<li class="current item" role="presentation" tabindex="-1">
						<a href="/my-profile" role="menuitem">Личные сведения</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="/my-order" role="menuitem">Заказы</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="/my-address" role="menuitem">Адресная книга</a>
					</li>
				</ul>
			</nav>
			<div class="layout layout-eight ng-scope" id="profileDIV">
				<div class="responsive status-message  expandable common-expandable">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="message ">Ваша персональная информация успешно обновлена.</div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
					<button class="close icon-close-white hidden-text">Close</button>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				&nbsp;
				<div class="form-section agile-form disabled-form" id="profile">
					<fieldset class="form-part">
						<legend class="heading">ЛИЧНЫЕ СВЕДЕНИЯ</legend>
						<%= semantic_form_for @user, :url => users_update_path(@user) do |f| %>
						<div class="inputwrapper">
							<label class="label" for="myhm-email">Эл. Почта</label>
							 <%= f.text_field :email, class: 'text-input field' %>
							<span class="static ng-binding"><%=@user.email%></span>
						</div>
						<div class="inputwrapper required">
							<label class="label" for="checkout.firstName">Имя</label>
							<%= f.text_field :first_name, class: 'text-input field' %>
							<div class="input-info ng-hide"></div>
							<span class="static ng-binding"><%= @user.first_name%></span>

						</div>

						<div class="inputwrapper optional">
							<label class="label" for="checkout.middleName">Отчество</label>
							<%= f.text_field :father, class: 'text-input field' %>
							<div class="input-info ng-hide">Укажите Ваше отчество здесь</div>
							<span class="static ng-binding"><%= @user.father%></span>
						</div>

						<div class="inputwrapper required">
							<label class="label" for="checkout.lastName">Фамилия</label>
							<%= f.text_field :second_name, class: 'text-input field' %>
							<div class="input-info ng-hide"></div>
							<span class="static ng-binding"><%=@user.second_name%></span>
						</div>
						
						<div class="inputwrapper required">
							<label class="label" for="checkout.lastName">Дата рождения</label>
							<%= f.date_field :date, class: 'text-input field' %>
							<div class="input-info ng-hide"></div>
							<span class="static ng-binding"><%=@user.date%></span>
						</div>

						<div class="inputwrapper required">
							<label class="label" for="checkout.lastName">Номер телефона</label>
							<%= f.text_field :tel, class: 'text-input field' %>
							<div class="input-info ng-hide"></div>
							<span class="static ng-binding"><%=@user.tel%></span>
						</div>
					</fieldset>

					<div class="button-group">
						<button type="button" class="secondary button redaction_data">Редактировать</button>
						<%= f.submit value:'ИЗМЕНИТЬ', class: 'hidden change_button'%>
						<a href="/users/edit" class="button change-password" style="margin-left:0;">ИЗМЕНИТЬ ПАРОЛЬ</a>
						<div id="globalMessages"></div>
					</div>
					<% end %>
				</div>

			</div>
		</div>
	</main>
	<script>
		$(document).ready(function(){
			$('.redaction_data').click(function(){
				$('#profile').toggleClass('disabled-form');
				$('.change_button').toggle();
			});
		});
	</script>
