  <main role="main" class="responsive segments">
  <!-- Main -->
  <!--AEMPUBPRDEU30-->
    <div class="breadcrumb">

      <nav class="breadcrumbs">
        <!-- Breadcrumbs -->
        <ul>
          <li><a href="#">YourHM</a></li>
          <li>Женщины</li>
        </ul>
      </nav>
      <!-- /Breadcrumbs -->
    </div>

    <div class="layout">
      <section class="sidebarpluscontent modules">
        <aside class="aside section-menu">
          <div class="left parbase">
            <nav class="section-menu">
              <ul>
                <li>
                  <h2>
                    <a href="#">Женщины</a>
                  </h2>
                  <div class="section-menu-sub-menu">
                    <div class="section-menu-sub-menu-inner">
                          <div class="section-menu-categories">

                            <div class="section-menu-category">
                              <h4 class="">
                                <span>Новые поступления</span>
                              </h4>
                              <ul style="display: block;">

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Одежда</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Обувь</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Аксессуары</a>
                                </li>

                              </ul>
                            </div>

                            <div class="section-menu-category">
                              <h4 class="">
                                <span>Выбрать категорию</span>
                              </h4>
                              <ul style="display: block;">

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Посмотреть все</a>
                                </li>
                                <% @main_category.each do |main_category|%>
                                <% if main_category%>
                                <% if @cat_active.include?(main_category)%>
                                  <li class="section-menu-subdepartment current">
                                <% else %>
                                  <li class="section-menu-subdepartment">
                                <% end %>
                                
                                  <a href="#"><%=main_category.name%></a>
                                  <% if @category.select{|e| e.parent==main_category} %>
                                      <ul>
                                        <%@category.select{|e| e.parent==main_category}.each do |category|%>
                                          <% if @cat_active.include?(category)%>
                                            <li class="section-menu-subcategory current">
                                          <% else %>
                                            <li class="section-menu-subcategory">
                                          <% end %>
                                            <a href="#">
                                               <%=category.name%>
                                            </a>
                                            <% if @category.select{|e| e.parent==category} %>
                                              <ul>
                                                <% @category.select{|e| e.parent==category}.each do |sub_category|%>
                                                  <% if @cat_active.include?(sub_category)%>
                                                    <li class="section-menu-subcategory current">
                                                  <% else %>
                                                    <li class="section-menu-subcategory">
                                                  <% end %>
                                                    <a href="">sub_category.name</a>
                                                  </li>
                                                <%end%>
                                              </ul>
                                            <% end %>
                                          </li>
                                        <%end%>
                                      </ul>
                                  <%end%>
                                </li>
                                <%end%>  
                              <%end%>
                              </ul>
                            </div>


                            <div class="section-menu-category">
                              <h4 class="">
                                <span>ИЗБРАННОЕ</span>
                              </h4>
                              <ul style="display: block;">

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Bещь недели</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Утилитарный стиль</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Белье и одежда для сна</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Весенние куртки</a>
                                </li>
                              </ul>
                            </div>

                            <div class="section-menu-category">
                              <h4 class="">
                                <span>КОЛЛЕКЦИИ</span>
                              </h4>
                              <ul style="display: block;">

                                <li class="section-menu-subdepartment current">
                                  <a href="#">Blue Darlings</a>
                                </li>
                                <li class="section-menu-subdepartment ">
                                  <a href="#">НОВИНКИ ВЕСНЫ</a>
                                </li>
                                <li class="section-menu-subdepartment ">
                                  <a href="#">H&M Studio S/S 2017</a>
                                </li>
                                <li class="section-menu-subdepartment ">
                                  <a href="#">New Trends To Try</a>
                                </li>
                                <li class="section-menu-subdepartment ">
                                  <a href="#">Premium Essentials</a>
                                </li>
                              </ul>
                            </div>

                            <div class="section-menu-category">
                              <h4 class="">
                                <span>ВЫБРАТЬ КОЛЛЕКЦИЮ</span>
                              </h4>
                              <ul style="display: block;">
                                <li class="section-menu-subdepartment ">
                                  <a href="#">Divided</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Trend</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Modern Classic</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Party</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Basics</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">L.O.G.G.</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Sportswear</a>
                                </li>

                                <li class="section-menu-subdepartment ">
                                  <a href="#">Premium Quality</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                    </div>
                  </div>

                </li>
              </ul>
            </nav>
          </div>

          <div class="left-bottom parsys"></div>
        </aside>
        <div class="parsys main">
          <div class="heading parbase section text">
            <h1 class="">КУРТКИ</h1>
          </div>
          <div class="parbase section text">
            <p>
              Модные куртки на каждый день. Выбирайте изделия стильных фасонов или
              классические модели, чтобы отлично выглядеть и не мерзнуть.
            </p>
          </div>
          <div class="productlisting parbase section">
            <!--PAGE:productListing -->
            <div class="catalogwarning parbase"></div>
            <!-- Product filters -->
            <div class="row">
              <div class="product-filters sticky-on-scroll" data-sticky-width="100%" data-sticky-stop-offset="25" data-sticky-fill="true" style="">
                <div class="row">
                  <div class="totop">
                    <a href="#" class="toptrigger">Вернуться наверх</a>
                    <a href="#" class="filterlogo">Вернуться к началу</a>
                  </div>
                  <div class="filteractions clearfix">
                    <ul class="triggers clearfix">
                      <!--  category condition  -->
                      <li class="js-clickexpand clickexpand filter ">
                        <a href="javascript:;" class="trigger js-expandtrigger"> <strong>Фильтр</strong>
                        </a>
                        <div class="expandtarget js-expandtarget filters">
                          <form class="js-product-list-filter-form ng-pristine ng-valid" method="get" data-productlist-page="true" data-filtered-products-url="#">
                            <div class="row">
                              <div class="cols clearfix">
                                <div class="col">
                                  <h4>Цвет</h4>
                                  <ul class="inputlist grid" data-filter-param-name="colorWithNames">
                                    <li>
                                      <a href="#" title="Черный" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#000000;"></span>
                                        Черный
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Синий" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#0000ff;"></span>
                                        Синий
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Зеленый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#008000;"></span>
                                        Зеленый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Серый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#808080;"></span>
                                        Серый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Коричневый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#a52a2a;"></span>
                                        Коричневый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Бежевый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#f5f5dc;"></span>
                                        Бежевый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Красный" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#ff0000;"></span>
                                        Красный
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Оранжевый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#ffa500;"></span>
                                        Оранжевый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="Розовый" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#ffc0cb;"></span>
                                        Розовый
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" title="White" class="filter-option" data-value="">
                                        <span class="pattern" style="background:#ffffff;"></span>
                                        White
                                      </a>
                                    </li>
                                  </ul>
                                </div>

                                <div class="col">
                                  <h4>Размер</h4>
                                  <ul class="inputlist row-cols">
                                    <li class="row-col">
                                      <ul data-filter-param-name="sizes" class="inputlist rows">
                                        <li>
                                          <label for="filter-size-5_xs">
                                            <input id="filter-size-5_xs" type="checkbox" value="5_xs">
                                            <div class="detailbox detailbox-value">
                                              <span>xs</span>
                                            </div>
                                          </label>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="row-col">
                                      <ul data-filter-param-name="sizes" class="inputlist rows">
                                        <li>
                                          <label for="filter-size-9_s">
                                            <input id="filter-size-9_s" type="checkbox" value="9_s">
                                            <div class="detailbox detailbox-value">
                                              <span>s</span>
                                            </div>
                                          </label>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="row-col">
                                      <ul data-filter-param-name="sizes" class="inputlist rows">
                                        <li>
                                          <label for="filter-size-17_l">
                                            <input id="filter-size-17_l" type="checkbox" value="17_l">
                                            <div class="detailbox detailbox-value">
                                              <span>l</span>
                                            </div>
                                          </label>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="row-col">
                                      <ul data-filter-param-name="sizes" class="inputlist rows">
                                        <li>
                                          <label for="filter-size-21_xl">
                                            <input id="filter-size-21_xl" type="checkbox" value="21_xl">
                                            <div class="detailbox detailbox-value">
                                              <span>xl</span>
                                            </div>
                                          </label>
                                        </li>
                                      </ul>
                                    </li>
                                    <li class="row-col">
                                      <ul data-filter-param-name="sizes" class="inputlist rows">
                                        <li>
                                          <label for="filter-size-1432_m">
                                            <input id="filter-size-1432_m" type="checkbox" value="1432_m">
                                            <div class="detailbox detailbox-value">
                                              <span>m</span>
                                            </div>
                                          </label>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="row clearfilters">
                              <button class="button button-secondary js-filters-clear" disabled="disabled">СБРОСИТЬ ФИЛЬТР</button>
                              <a class="button js-filters-close" href="javascript:;">Закрыть</a>
                            </div>
                            <input type="hidden" name="image" value="" class="filter-toggle-images-value" data-filter-param-name="image"></form>
                        </div>
                      </li>
                      <li class="js-clickexpand clickexpand sort-by " data-expandoptions="">
                        <a href="javascript:;" class="trigger js-expandtrigger">
                          <strong>Сортировать</strong>
                        </a>
                        <div class="expandtarget js-expandtarget sort">
                          <ul class="menu toggleCurrent">
                            <li class="menu-sub-item">
                              <span class="menu-link" data-value="">Новинки</span>
                            </li>
                            <li class="menu-sub-item">
                              <span class="menu-link" data-value="ascPrice">Самая низкая цена</span>
                            </li>
                            <li class="menu-sub-item">
                              <span class="menu-link" data-value="descPrice">Самая высокая цена</span>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /Product filters -->
            </div>
            <div class="row">
              <div class="model-and-product-switch">
                <div class="grid col-6">
                  <ul>
                    <li class="right">
                      <span class="filterinfo">
                        <strong>ОТОБРАЖАЕТСЯ</strong>
                        <span class="load-count"><%= @products.size %></span>
                        из
                        <span class="total-counts"><%= @products_all %></span>
                        товаров
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="grid col-3 filter-group toggle-images">
                  <ul>
                    <li>
                      <a id="color_filter_model" href="#" data-value="model" class="">Модель</a>
                    </li>
                    <li>
                      <a id="color_filter_stillLife" href="#" data-value="stillLife" class="selected">Изделие</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="product-items-wrapper">
              <section class="product-items big productlist-row">
                <!-- Product items -->
                <div class="product-items-content">
                  <div class="row">
                    <%@products.each do |product| %>
                    <!-- Product item -->
                    <div class="grid col-3">
                      <article class="product-item club-price-item">
                        <a href="#" title="" class="product-item-link">
                          <%=image_tag(product.img(:original) , width:"222", height:"333", class:"product-item-image")%>
                          <button type="button" class="favorite icon icon-favorites js-favorite" data-tracking-type="event" data-saved-text="СОХРАНЕНО КАК ИЗБРАННОЕ" data-not-saved-text="СОХРАНИТЬ КАК ИЗБРАННОЕ">СОХРАНИТЬ КАК ИЗБРАННОЕ</button>
                        </a>
                        <div class="product-item-details">
                          <h3 class="product-item-heading">
                            <a href="#"><%=product.name%></a>
                          </h3>
                          <% if product.product_datum[0]!=nil and product.product_datum[0].price!=nil %>
                          <strong class="price"><%= product.product_datum[0].price%> Грн</strong>
                        <%else%>
                          <strong class="price">Уточняеться</strong>
                        <% end %>
                          <ul class="list-swatches">
                           <%product.color.each do |c|  %>
                            <li class="item">
                              <%=image_tag(c.img(:original) ,class:"swatch")%>
                            </li>
                           <%end%>
                          </ul>
                        </div>
                      </article>
                    </div>
                    <!-- /Product item -->
                    <%end%>
          
                  </div>
                </div>
              </section>
              <!-- /Product items -->
              <a href="#" class="hidden listing-total-count" data-total-count="66"></a>
            </div>
            <a class="load-more-link button infinite-scroll" href="#">Загрузить еще изделия</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="parbase overlaycontainer"></div>
  </main>
