<%=@search%>
<%=@res%>
<main role="main" class="responsive segments">
  <!-- Main -->
  <!--AEMPUBPRDEU30-->
    <div class="breadcrumb">

      <nav class="breadcrumbs">
        <!-- Breadcrumbs -->
        <ul>
          <li><a href="#">YourHM</a></li>
          <li>Результаты поиска</li>
        </ul>
      </nav>
      <!-- /Breadcrumbs -->
    </div>

    <div class="layout">
      <section class="sidebarpluscontent modules">
        <div class="parsys main" style="width: 100%;">
          <div class="heading parbase section text">
            <h1 class="">ПОКАЗАНЫ РЕЗУЛЬТАТЫ ДЛЯ "<%=@search%>"</h1>
          </div>
          <div class="productlisting parbase section">
            <!--PAGE:productListing -->
            <div class="catalogwarning parbase"></div>
            <!-- Product filters -->
            <div class="row">
              <div class="product-filters sticky-on-scroll" data-sticky-width="100%" data-sticky-stop-offset="25" data-sticky-fill="true" style="">
                <div class="row">
                  <div class="totop">
                    <a href="#" class="toptrigger">Вернуться наверх</a>
                    <a href="#" class="filterlogo">Вернуться к началу</a>
                  </div>
                  <div class="filteractions clearfix">
                    <ul class="triggers clearfix">
                      <!--  category condition  -->
                      <li class="js-clickexpand clickexpand filter " data-expandoptions="{&quot;toggle&quot;:&quot;true&quot;}">
                        <a href="javascript:;" class="trigger js-expandtrigger"> <strong>Фильтр</strong>
                        </a>
                        <div class="expandtarget js-expandtarget filters">
                          <form class="js-product-list-filter-form ng-pristine ng-valid" method="get" data-productlist-page="true" data-filtered-products-url="/products">
                            <div class="row">
                              <div class="cols clearfix">
                                <div class="col">
                                  <h4>Цвет</h4>
                                  <ul class="inputlist grid" data-filter-param-name="colorWithNames[]">
                                  <% @PossibleColors.each do |c|%>
                                        <li>
                                          <a href="/bodies" title="<%= c.name %>" class="filter-option <% if @ChoizenColor.include?(c.name) %> active <% end %>" data-value="<%= c.name %>">
                                            <span class="pattern" style="background:#000000;"></span>
                                            <%= c.name %>
                                          </a>
                                        </li>
                                    <% end %>
                                  </ul>
                                </div>

                                <div class="col">
                                  <h4>Размер</h4>
                                  <ul class="inputlist row-cols">
                                    <% @PossibleSizes.each_with_index do |c, k|%>
                                      <li class="row-col">
                                        <ul data-filter-param-name="sizes[]" class="inputlist rows">
                                          <li>
                                            <label for="filter-size-<%= c.size %>">
                                              <input id="filter-size-<%= c.size %>" type="checkbox" value="<%= c.size %>" <% if @ChoizenSize.include?(c.size) %> checked="checked" <% end %>>
                                              <div class="detailbox detailbox-value">
                                                <span><%= c.size %></span>
                                              </div>
                                            </label>
                                          </li>
                                        </ul>
                                      </li>
                                    <% end %>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <div class="row clearfilters">
                              <button class="button button-secondary js-filters-clear" disabled="disabled">СБРОСИТЬ ФИЛЬТР</button>
                              <a class="button js-filters-close" href="javascript:;">Закрыть</a>
                            </div>
                            <!-- <input type="hidden" name="image" value="stillLife" class="filter-toggle-images-value" data-filter-param-name="image"></form> -->
                        </div>
                      </li>
                      <li class="js-clickexpand clickexpand sort-by " data-expandoptions="jkjkj">
                        <a href="javascript:;" class="trigger js-expandtrigger">
                          <strong>Сортировать</strong>
                        </a>
                        <div class="expandtarget js-expandtarget sort">
                          <ul class="menu toggleCurrent">
                            <li class="menu-sub-item current">
                              <span class="menu-link" data-value="best">Лучшее</span>
                            </li>
                            <li class="menu-sub-item">
                              <span class="menu-link" data-value="PriceAsc">Самая низкая цена</span>
                            </li>
                            <li class="menu-sub-item">
                              <span class="menu-link" data-value="PriceDesc">Самая высокая цена</span>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /Product filters -->
            </div>
            <div class="row">
              <div class="model-and-product-switch">
                <div class="grid col-6">
                  <ul>
                    <li class="right">
                      <span class="filterinfo">
                        <strong>ОТОБРАЖАЕТСЯ</strong>
                        <span class="load-count"><%= @products.size %></span>
                        из
                        <span class="total-counts"><%= @productsAll.size %></span>
                        товаров
                      </span>
                    </li>
                  </ul>
                </div>
                <!-- <div class="grid col-3 filter-group toggle-images">
                  <ul>
                    <li>
                      <a id="color_filter_model" href="#" data-value="model" class="">Модель</a>
                    </li>
                    <li>
                      <a id="color_filter_stillLife" href="#" data-value="stillLife" class="selected">Изделие</a>
                    </li>
                  </ul>
                </div> -->
              </div>
            </div>
            <div class="product-items-wrapper clearfix" data-articlecode="#">
                    <%@products.each do |product| %>
                    <!-- Product item -->
                    <div class="grid col-3">
                      <article class="product-item club-price-item">
                        <%= link_to "/single/hm-#{product.product_datum[0].article}" , class: "product-item-link" do %>
                          
                          <img src="<%= product.img(:original) %>" alt="" width="222" height="333" class="product-item-image" data-altimage="<%= product.img_alt(:original) %>">
                          <button type="button" class="favorite icon icon-favorites js-favorite" data-tracking-type="event" data-saved-text="СОХРАНЕНО КАК ИЗБРАННОЕ" data-not-saved-text="СОХРАНИТЬ КАК ИЗБРАННОЕ">СОХРАНИТЬ КАК ИЗБРАННОЕ</button>
                        <%end%>
                        <div class="product-item-details">
                          <h3 class="product-item-heading">
                            <a href="#"><%=product.name%></a>
                          </h3>
                        <% if product.product_datum[0]!=nil and product.product_datum[0].price!=nil %>
                          <%if product.product_datum[0].promotional_price!=nil and product.product_datum[0].promotional_price>0 %>
                            <strong class="price sale-price"> <%=product.product_datum[0].promotional_price%> Грн
                              <span class="price original-price"><%= product.product_datum[0].price%> Грн</span>
                            </strong>
                          <%else%>
                          <strong class="price"><%= product.product_datum[0].price%> Грн</strong>
                          <%end%>
                        <%else%>
                          <strong class="price">Уточняеться</strong>
                        <% end %>
                          <ul class="list-swatches">
                           <%product.color.each do |c|  %>
                            <li class="item">
                              <%=image_tag(c.img(:original) ,class:"swatch")%>
                            </li>
                           <%end%>
                          </ul>
                        </div>
                      </article>
                    </div>
                    <!-- /Product item -->
                    <%end%>
                  <%= will_paginate @products %>

              <!-- /Product items -->
              <a href="#" class="hidden listing-total-count" data-total-count="66"></a>
            </div>
            <a class="load-more-link button infinite-scroll" href="#">Загрузить еще изделия</a>
            <div class="clearfix"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="parbase overlaycontainer"></div>
  </main>


