
<main role="main" class="club-sign-up-customer hm-club responsive">
    <div class="">
      <nav class="breadcrumbs">
        <ul>
          <li>
            <a href="#">YouHM.COM</a>
          </li>

          <li class="">

            <a href="#" onclick="return false;">Войти/Зарегистрироваться</a>
          </li>
        </ul>
      </nav>
      <section class="layout layout-six">
        <section class="responsive create-account">
          <div id="registration-form" novalidate="true" class="responsive form-section ng-pristine ng-valid">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <fieldset class="form-part">
              <legend class="heading">ПРИСОЕДИНЯЙТЕСЬ К НАМ</legend>
              <p class="info-paragraph">Укажите следующие данные здесь</p>
              <%= devise_error_messages! %>
              <div class="inputwrapper">
                <%= f.label :email, 'Эл. Почта'%>
                <%= f.email_field :email, autofocus: true, class: 'email-input' %>
              </div>

              <div class="inputwrapper">
                <%= f.label :password, 'Пароль' %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> символов минимум)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'password-input' %>
              </div>

              <div class="inputwrapper">
                <%= f.label :password_confirmation, 'Повторите пароль'%>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'password-input' %>
              </div>
            </fieldset>

            <fieldset class="form-part">
               <%= f.submit "ПРИСОЕДИНЯЙТЕСЬ К НАМ", class: 'button'%>
            </fieldset>
            <% end %>
            <div>
          </div>
        </section>
      </section>
    </div>
  </main>
